<div class="navBar">
  <a href='/' class='noDec'>
    <div class="dashLogo">
        <img class="dashIcon" src='../public/watericon.png'>
        <div class='dashText'>chute</div>
    </div>
  </a>
  <div class='navLink'>
    <a class='noDec' href='/profile/<%= userid %>'>
      <div class='linkText'>Profile</div>
    </a>
    <div> - </div>
    <a class='noDec' href='/account/<%= userid %>'>
      <div class='linkText'>Account</div>
    </a>
    <div> - </div>
    <a class='noDec' href='/users/logout'>
      <div class='linkText'>Logout</div>
    </a>
  </div>
</div>
<div class='botBorder'></div>
<div class='mainCont'>
  <div class='meCont'></div>
  <div class='content'>
    <div class='newChute'></div>
    <div class="allChute"></div>
  </div>
</div>