<div class="iconFlex">
  <div class="columnFlex">
    <img class="mainIcon" src="../public/watericon.png">
    <div class="mainText">chute</div>
  </div>
</div>
<div class="logFlex">
    <div class='loginCont'>
    <div class="Login">Login</div>
    <% include ./partials/messages %>
  <form class='loginForm' action='/users/login' method='POST'>
    <div class='inputFlex'>
      <div class='formText'>Email</div>
      <input type='email' id='email' name='email' placeholder="Enter Email..">    
    </div>
    <div class='inputFlex'>
      <div class='formText'>Password</div>
      <input type='password' id='password' name='password' placeholder="Enter Password...">    
    </div>
    <button type='submit' class='Submit'>Login</button>
  </form>
  <div class="noAccount">
    No account?
    <a href="/users/register">Register</a>
  </div>
</div>
</div>