<div class="dFlex">
    <div class="dFlex dColumn">
        <img class="mainIcon" src="../public/watericon.png">
        <p>welcome to chute!</p>
        <a href="/users/profile">Profile</a>
        <a href="/dashboard">Dashboard</a>
    </div>
</div>
    