<div class="iconFlex">
<div class="columnFlex">
    <a class="noDec" href="/">
        <img class="mainIcon" src="../public/watericon.png">
        <div class="mainText">Welcome to chute!</div>
    </a>
    <div class="smallText">See what's happening on the largest social media site in the world</div>
    <br>
    <div class="smallerText">jump in.</div>
    <div class="dFlex">
        <a class='smallLink' href="/dashboard">
            <div>Dashboard</div>
        </a>    
    </div>
</div>
</div>
