    <a href="/dashboard">Go back</a>
    <h1>New Post:</h1>
    <h1><%= title %></h1>
    <p><%= body %></p>

    <% comments.forEach(function(comment) { %>
      <h1><%= comment._id %></h1>
    <% }); %>
   

    <% include ./partials/messages %>
    <form action="/users/comment/<%= _id %>" method="POST">
        <div class="form-group">
          <input
            type="text"
            id="body"
            name="body"
            class="form-control"
            placeholder="add comment.."
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Submit Comment
        </button>
    </form>
    
   


     

