  <div class="dFlex">
    <div class="dFlex dColumn">
      <img class="mainIcon" src="../public/watericon.png">
      <p>welcome to chute!</p>
      <a href="/users/register">Register</a>
      <a href="/users/login">Login</a>
    </div>
  </div>
