.mainIcon {
    height: 160px;
    width: 160px;
    text-align: center;
}
.dFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dColumn {
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}
.nDisplay {
    display: none;
}
.welcome {
    font-size: 70px;
}
.profPicture {
    height: 65px;
    width: 65px;
    border-radius: 30px;
    float: left;
}
body {
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    background-color: #0b0c10;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
input {
    height: 20px;
    width: 300px;
    border-radius: 5px;
    border: 0.5px solid rgba(66, 133, 140, 0.568);
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    background-color: #0b0c10;
    color: white;
}
input:focus {
    border: 0.5px solid black;
    box-shadow: 5x 5px black;
    outline: 0;
    background-color: rgba(189, 185, 185, 0.185);
}
button {
    background-color: #35393C;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: 0;
    color: white;
    font-size: 18px;
}
button:hover {
    transition: 0.3s ease all;
    background-color: rgb(120, 129, 134);
}
.loginCont {
    background-color: #1F2833;
    padding: 20px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.507);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.logFlex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 100px;
    animation: 1s ease-out 0s 1 slideInBottom;
}
.Login {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}
.iconFlex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    animation: 1s ease-out 0s 1 slideInLeft;
    flex-wrap: wrap;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInBottom {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.columnFlex {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mainText {
    font-size: 70px;
    color: white;

}
.inputFlex {
    padding-bottom: 20px;
}
.Submit {
    margin-bottom: 20px;
    width: 100px;
}
a {
    color: #66fcf1;
}
a:hover {
    color: #c5c6c7;
}
.formText {
    padding: 10px;
    font-size: 17px;
}
.noAccount {
    text-align: right;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: rgba(85, 84, 84, 0.322);
    bottom: 0;
    position: absolute;
    margin-top: -40px;
}
.me {
    color: grey;
    text-decoration: none;
    margin-left: 100px;
}
.name {
    margin-left: 100px;
    font-size: 15px;
}
.container {
    margin-left: 10%;
    margin-right: 10%;
}
.noDec {
    text-decoration: none;
}
.smallText {
    font-size: 25px;
}
.smallerText {
    font-size: 15px;
    padding-bottom: 30px;

}
.smallLink {
    padding: 10px;
    text-decoration: none;
    border: 1px solid white;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-right: 5px;
}
.navBar {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navLink {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    font-size: 17px;
}
.botBorder {
    border-top: 0.5px solid rgba(255, 255, 255, 0.603);
    margin-bottom: 30px;
}
.dashIcon {
    height: 40px;
    width: 40px;

}
.dashLogo{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.dashText {
    font-size: 30px;
    color: white;
}
.linkText {
    padding-right: 10px;
    padding-left: 10px;
}
.mainCont {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.meCont {
    width: 28%;
    height: 400px;
    background-color: #1F2833;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
}
.content {
    width: 70%;
}
.newChute {
    height: 200px;
    background-color: #1F2833;
    background-color: #1F2833;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.253);
}
.allChute {
    background-color: #1F2833;
    border-radius: 10px;
    height: 600px;
    border: 1px double rgba(255, 255, 255, 0.253);
}
.dashPicture {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
}
.userName {
    font-size: 30px;
    padding-top: 15px;
}
.picCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.recText {
    padding: 10px;
}
.recPost {
    padding-left: 10px;
    width: 200px;
}
.userEmail {
    font-size: 13px;
    font-weight: 100;
}