.mainIcon {
    height: 160px;
    width: 160px;
    text-align: center;
}
.dFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dColumn {
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}
.nDisplay {
    display: none;
}
.welcome {
    font-size: 70px;
}
.profPicture {
    height: 65px;
    width: 65px;
    border-radius: 30px;
    float: left;
}
body {
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    background-color: rgb(17, 17, 17);
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url('../public/pattern.png')
}
input {
    height: 20px;
    width: 300px;
    border-radius: 5px;
    border: 0.5px solid rgba(66, 133, 140, 0.568);
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    background-color: #0b0c10;
    color: white;
    transition: 0.2s ease all;
    font-family: 'Noto Sans JP', sans-serif;
}
input:focus {
    border: 0.5px solid black;
    box-shadow: 5x 5px black;
    outline: 0;
    background-color: rgba(189, 185, 185, 0.185);
    transition: 0.2s ease all;
}
button {
    background-color: #35393C;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: 0;
    color: white;
    font-size: 18px;
    transition: 0.3s ease all;
}
button:hover {
    transition: 0.3s ease all;
    background-color: rgb(120, 129, 134);
}
.loginCont {
    background-color: #1F2833;
    padding: 20px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.507);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.logFlex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 100px;
    animation: 1s ease-out 0s 1 slideInBottom;
}
.Login {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}
.iconFlex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    animation: 1s ease-out 0s 1 slideInLeft;
    flex-wrap: wrap;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInBottom {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.columnFlex {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mainText {
    font-size: 70px;
    color: white;

}
.inputFlex {
    padding-bottom: 20px;
}
.Submit {
    margin-bottom: 20px;
    width: 100px;
}
a {
    color: #66fcf1;
}
a:hover {
    color: #c5c6c7;
}
.formText {
    padding: 10px;
    font-size: 17px;
}
.noAccount {
    text-align: right;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: rgba(85, 84, 84, 0.322);
    bottom: 0;
    position: absolute;
    margin-top: -40px;
}
.me {
    color: grey;
    text-decoration: none;
    margin-left: 100px;
}
.name {
    margin-left: 100px;
    font-size: 15px;
}
.container {
    margin-left: 10%;
    margin-right: 10%;
}
.noDec {
    text-decoration: none;
}
.smallText {
    font-size: 25px;
}
.smallerText {
    font-size: 15px;
    padding-bottom: 30px;

}
.smallLink {
    padding: 10px;
    text-decoration: none;
    border: 1px solid white;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-right: 5px;
}
.navBar {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navLink {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    font-size: 17px;
}
.botBorder {
    border-top: 0.5px solid rgba(255, 255, 255, 0.603);
    margin-bottom: 30px;
}
.dashIcon {
    height: 40px;
    width: 40px;

}
.dashLogo{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.dashText {
    font-size: 30px;
    color: white;
}
.linkText {
    padding-right: 10px;
    padding-left: 10px;
}
.mainCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
}
.meCont {
    width: 28%;
    min-height: 100%;
    background-color: #1F2833;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    overflow: hidden;
}
.content {
    width: 70%;
}
.newChute {
    height: 100%;
    background-color: #1F2833;
    background-color: #1F2833;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    overflow: hidden;
}
.formSub {
    height: 100%;
    overflow: hidden;
}
.allChute {
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
    border: 6px solid #1F2833;
    border-radius: 10px;
}
.allFlex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.dashPicture {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
}
.userName {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 10px;
}
.picCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.recText {
    padding: 10px;
}
.recPost {
    padding-left: 10px;
    width: 90%;
    font-size: 13px;
}
.userEmail {
    font-size: 13px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.726);
    padding-left: 10px;
}
.form-group {
    padding-left: 10px;
}
.formTitle {
    width: 50%;
    margin-bottom: 10px;
}
.formBody {
    width: 95%;
    max-width: 95%;
    height: 210px;
    border-radius: 5px;
    border: 0.5px solid rgba(66, 133, 140, 0.568);
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    background-color: #0b0c10;
    color: white;
    transition: 0.2s ease all;
}
.submitPost {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.formBody:focus {
    border: 0.5px solid black;
    box-shadow: 5x 5px black;
    outline: 0;
    background-color: rgba(189, 185, 185, 0.185);
    transition: 0.2s ease all;
}
.chuteText {
    font-size: 15px;
    padding: 12px;
}
.underLine {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.479);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.eachPost {
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
}
.postPicture {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    padding: 10px;
}
.postBody {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.overFlow {
    max-height: 70px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}
.postTitle {
    font-size: 30px;
    padding-bottom: 10px;
}
.totalCom {
    font-size: 13px;
    padding-top: 20px;
}
.postContainer {
    background-color: #1F2833;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    margin-right: 10%;
    margin-left: 10%;
}
.postFlow {
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}
.postPageTitle {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
}
.postPagePicture {
    height: 120px;
    width: 120px;
    border-radius: 20px;
    padding: 10px;
}
.postPageBody {
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
}
.formCont {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    background-color: #1F2833;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    margin-bottom: 50px;
    overflow: hidden;
}
.commBody {
    width: 99%;
    max-width: 100%;
    height: 75px;
    border-radius: 5px;
    border: 0.5px solid rgba(66, 133, 140, 0.568);
    font-size: 15px;
    background-color: #0b0c10;
    color: white;
    transition: 0.2s ease all;
    padding-left: 5px;
    margin-right: 1%;
}
.commBody:focus {
    transition: 0.2s ease all;
    border: 0.5px solid black;
    box-shadow: 5x 5px black;
    outline: 0;
    background-color: rgba(189, 185, 185, 0.185);
}
.commForm {
    padding: 10px;
}
.submitCom {
    float: right;
    margin-right: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.commentCont {
    text-align: left;
    font-size: 17px;
}
.commPicture {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    padding: 10px;
}
.aBorder {
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}
.commentDate {
    color: rgba(128, 128, 128, 0.808);
    text-align: left;
    font-size: 12px;
}
.aBorder:last-child {
    border: none;
}
.filler {
    min-width: 100px;
}
.deletePost {
    background-color: black;
    float: right;
    font-size: 13px;
    color: #66fcf1;
}
textarea {    
    font-family: 'Noto Sans JP', sans-serif;
}
.Posts {
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 20px;
}
.profPost {
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
}
.profPostCont {
    background-color: #1F2833;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 50px;
}
.myDesc {
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.profName {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.767);
    border: 1px solid white;
    width: 30%;
    overflow: hidden;
    padding: 10px;
}
.rFlex {
    display: flex;
    justify-content: center;
}
.accCont {
    padding: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
.accBody {
    width: 99%;
    max-width: 100%;
    height: 400px;
    border-radius: 5px;
    border: 0.5px solid rgba(66, 133, 140, 0.568);
    font-size: 15px;
    background-color: #0b0c10;
    color: white;
    transition: 0.2s ease all;
    padding-left: 5px;
    margin-right: 1%;
    margin-bottom: 10px;
}
.accBody:focus {
    transition: 0.2s ease all;
    border: 0.5px solid black;
    box-shadow: 5x 5px black;
    outline: 0;
    background-color: rgba(189, 185, 185, 0.185);
}
.imageUpload {
    border-bottom: 1px solid white;
    margin-bottom: 5%;
}
.Top {
    margin-left: 10px;
}
.settings {
    font-size: 30px;
    margin-left: 25%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    .container {
        margin-left: 1%;
        margin-right: 1%;
    }
    .mainCont {
        margin-top: 20px;
        flex-direction: column;
    }
    .navBar {
        flex-direction: column;
    }
    .navLink {
        flex-wrap: wrap;
    }
    .meCont {
        margin-top: 60px;
        width: 100%;
    }
    .content {
        margin-top: 10px;
        width: 100%;
    }
    .formBody {
        margin-right: 5px;
        width: 90%;
    }
    .eachPost {
        flex-wrap: wrap;
    }
    .postBody {
        margin-top: 20px;
    }
    .postTitle {
        word-wrap: wrap;
    }
    .deletePost {
        float: left;
    }
    .allFlex {
        margin-right: 5%;
        margin-left: 5%;
    }
    .allChute {
        width: 95%;
    }
    .rFlex {
        padding-top: 40px;
    }
    .profPost {
        flex-wrap: wrap;
    }
    .profPostCont {
        margin-left: 5%;
        margin-right: 5%;
    }
    .settings {
        padding-top: 30px;
    }
    .accCont {
        padding: 5px;
    }
    .accBody {
        width: 95%;
    }
    .fileUp {
        width: 80%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .mainText {
        font-size: 20px;
    }
    .smallText {
        font-size: 15px;
    }
    .loginCont {
        width: 98%;
        padding: 5px;
    }
    .loginFlex {
        margin-left: 3%;
        margin-right: 3%;
    }
    input {
        width: 90%;
    }
    .formCont {
        margin-left: 1%;
        margin-right: 1%;
    }
    .postContainer {
        margin-top: 90px;
        margin-left: 1%;
        margin-right: 1%;
    }

}